*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    border: none;
    transition: .2s all ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgb(7, 197, 255), rgb(8, 241, 124));
}

.login-page{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 350px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 10px rgb(59, 59, 59);
}


.loginuser{
    width: 100%;
    padding: 2rem;
}

.loginuser p{
    font-weight: 700;
    font-size: 15px;
}

.loginuser .inputan{
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    padding: 0 .5rem;
    margin-bottom: 1rem;
    background-color: rgba(217, 255, 0, 0.728);
}
.loginuser i{
    color: white;
    font-size: 23px;
    margin-right: .5rem;
}

.loginuser input{
    background-color: transparent;
    color: white;
    font-size: 20px;
}

a{
    display: flex;
    color: white;
    font-weight: 700;
    justify-content: center;
    width: 100px;
    border-radius: 10px;
    padding: .7rem 7rem;
    margin-bottom: 5rem;
    background-color: #da08ff;
}

a:hover{
    background-color: #0afefa;
}